---
interface Props {
  id: number;
  post_title: string;
  timestamp: string;
  testimonial: string;
  user_name: string;
  posted_on: string;
  avatar: string;
  link: string;
}

const {
  timestamp,
  testimonial,
  user_name,
  posted_on,
  avatar,
  post_title,
  link,
} = Astro.props;

function convert_string(str: string) {
  return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
}
---

<figure
  class="border-2 rounded-md border-black col-span-full md:col-span-6 lg:col-span-4 px-4 py-2"
>
  <blockquote>
    <p class="text-2xl">
      <span class="text-gray-400">"</span>{testimonial}
      <span class="text-gray-400">"</span>
    </p>
  </blockquote>
  <figcaption class="inline-flex items-center space-x-2 mt-2">
    <span class="flex-shrink-0"> <img src={avatar} class="h-8 w-8" /></span>
    <p>
      {user_name} said this on <a
        href={link}
        class="text-blue-700 font-medium hover:text-blue-600"
      >
        {
          post_title != testimonial
            ? " " + post_title
            : " " + convert_string(posted_on)
        }
      </a>
    </p>
  </figcaption>
</figure>
