<section>
	<div
		class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 pt-24"
	>
		<div>
			<div class="text-center max-w-4xl mx-auto">
				<p
					class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight"
				>
					Painlessly quit porn immediately, without willpower or any sense of
					deprivation or sacrifice
				</p>
				<p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
					Putting together a directory website was a challenge. Superstash lets
					you focus on the content and makes the entire process effortless.
				</p>
			</div>
			<div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
				<a
					class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
					href="#"
					>Read more
				</a>
				<a
					class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full"
					href="#">What's is this &nbsp; &rarr;</a
				>
			</div>
		</div>
		<div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
			<div class="bg-slate-100 p-8 rounded-3xl" style="">
				<img
					alt=""
					class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl h-full"
					src="./landing.jpg"
				/>
				<svg
					class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white"
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M9 5l7 7-7 7"></path>
				</svg>
			</div>
		</div>
	</div>
</section>
