---
const items = [
	{ id: 1, description: "Item 1" },
	{ id: 2, description: "Item 2" },
];
---

<section id="features">
	<div
		class="mx-auto w-full lg:px-16 max-w-5xl md:px-12 items-center px-8 pt-16"
	>
		<div class="mx-auto max-w-2xl text-center">
			<div>
				<p
					class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
				>
					Right now you <span class="lg:block">can stop porn addiction</span>
				</p>
			</div>
		</div>
		<div>
			<div class="mx-auto max-w-3xl py-24">
				<h2 class="sr-only">Features.</h2><div>
					<div
						class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-2"
					>
						<div>
							<div>
								<div
									class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
								>
									<ion-icon
										aria-label="scan outline"
										class="hydrated md h-4 w-4"
										name="scan-outline"
										role="img"></ion-icon>
								</div><p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									No willpower
								</p>
							</div><div class="mt-4 text-slate-500 text-sm">
								or anything like counting, blocking, dieting, rewarding or
								punishing yourself.
							</div>
						</div><div>
							<div>
								<div
									class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
								>
									<ion-icon
										aria-label="scan outline"
										class="hydrated md h-4 w-4"
										name="scan-outline"
										role="img"></ion-icon>
								</div><p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									Free and Open Source
								</p>
							</div><div class="mt-4 text-slate-500 text-sm">
								because knowledge helping people should always be free; it’s the
								right thing to do.
							</div>
						</div><div>
							<div>
								<div
									class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
								>
									<ion-icon
										aria-label="scan outline"
										class="hydrated md h-4 w-4"
										name="scan-outline"
										role="img"></ion-icon>
								</div><p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									Pretty popular
								</p>
							</div><div class="mt-4 text-slate-500 text-sm">
								(lowkey it’s getting 80k per month) but more importantly someone
								recommended it to you!
							</div>
						</div><div>
							<div>
								<div
									class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
								>
									<ion-icon
										aria-label="scan outline"
										class="hydrated md h-4 w-4"
										name="scan-outline"
										role="img"></ion-icon>
								</div><p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									Actually Works
								</p>
							</div><div class="mt-4 text-slate-500 text-sm">
								and allows you to leave pornography behind instead of streak
								counting.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- {items.map((item) => <li>{item.description}</li>)} -->
	</div>
</section>
