---
const items = [
	{ id: 1, description: "Item 1" },
	{ id: 2, description: "Item 2" },
];
---

<section id="features">
	<div class="mx-auto w-full lg:px-16 max-w-5xl md:px-12 items-center px-2">
		<div>
			<div class="mx-auto max-w-3xl py-8">
				<h2 class="sr-only">Features</h2><div>
					<div class="grid gap-12 grid-cols-1 lg:space-y-0 md:grid-cols-2">
						<div>
							<div>
								<p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									No willpower
								</p>
							</div><div class="mt-2 text-slate-900">
								or anything like counting, blocking, dieting, rewarding or
								punishing yourself.
							</div>
						</div><div>
							<div>
								<p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									Completely free and open source
								</p>
							</div><div class="mt-2 text-slate-900">
								because knowledge helping people should always be free; it’s the
								right thing to do.
							</div>
						</div>

						<div>
							<div>
								<p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									Actually Works
								</p>
							</div><div class="mt-2 text-slate-900">
								and allows you to leave pornography behind instead of streak
								counting.
							</div>
							<div class="flex justify-end mt-2">
								<a href="#" class="text-right text-blue-700 font-semibold mt-2"
									>more info -></a
								>
							</div>
						</div>

						<div>
							<div>
								<p
									class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
								>
									Pretty popular
								</p>
							</div><div class="mt-2 text-slate-900">
								(lowkey it’s getting 80k per month) but more importantly someone
								recommended it to you!
							</div>
							<div class="flex justify-end mt-2">
								<a
									href="/testimonials"
									class="text-right text-blue-700 font-semibold mt-2"
									>see what people are saying -></a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
