<footer
	class="flex justify-between w-full mx-auto sm:px-2 px-4 lg:max-w-3xl py-4 mt-16"
>
	<div>
		<a href="/backstage" class="font-bold">backstage</a>
	</div>

	<div class="space-x-6">
		<a href="https://quiteasily.org" class="font-bold">quiteasily.org</a>

		<a href="https://peacefulfoundation.org" class="font-bold">peaceful</a>
	</div>
</footer>
