<footer
	class="flex justify-between w-full mx-auto px-8 lg:max-w-3xl py-4 mt-16"
>
	<div>
		<a href="#" class="font-bold">backstage</a>
	</div>

	<div class="space-x-6">
		<a href="#" class="font-bold">quiteasily.org</a>

		<a href="#" class="font-bold">quiteasily.org</a>
	</div>
</footer>
